/* Variables de color */
:root {
    --color-primary: rgb(72, 149, 124);
    --color-secondary: #485B63;
    --color-text--general: white;
    --color-text: black;
    --color-hover: rgba(255, 255, 255, 0.2);
    --color-active-window: rgba(213, 145, 145, 0.3);
    --color-border: black;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --color-window-bg: rgb(61, 61, 61);
}

@font-face {
    font-family: 'Pixelify Sans';
    src: url('assets/Fonts/static/PixelifySans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Propiedades generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', Arial, sans-serif;
    color: var(--color-text--general);
}

body {
    background-color: var(--color-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Escritorio con iconos */
.desktop-icons {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px;
}

.icon, .taskbar-icons .icon-task {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.icon {
    flex-direction: column;
    width: 80px;
    height: 90px;
    padding: 5px;
}

.taskbar-time-container:hover, .wifi-icon:hover,.icon:hover, .taskbar-icons .icon-task:hover, .taskbar .start-menu:hover {
    background-color: var(--color-hover);
}

.icon button, .taskbar-icons .icon-task button, .taskbar .button-user {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon img{
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.icon span {
    font-size: 12px;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*------------------------ Barra de tareas ----------------------------*/
.taskbar {
    width: 100%;
    height: 50px;
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    border-top: 2px solid var(--color-border);
    z-index: 1001;
}

.taskbar .start-menu {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

.taskbar .start-menu img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.taskbar-icons {
    display: flex;
    gap: 10px;
    margin-left: 1.5%;
}

.taskbar-icons .icon-task {
    width: 40px;
    height: 40px;
}

.taskbar-icons .icon-task img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.taskbar-icons .icon-task.active-window {
    background-color: var(--color-active-window);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Contenedor para .wifi-icon y .taskbar-time */
.taskbar-right {
    display: flex;
    align-items: center;
    margin-left: auto; /* Mueve el contenedor a la derecha */
    gap: 10px; /* Espacio entre .wifi-icon y .taskbar-time */
    justify-content: center;
    flex-flow: row nowrap;
}

.wifi-icon{
    border-radius: 2px;
}

.wifi-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}


.taskbar-time-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .taskbar-time {
    font-size: 16px; /* Tamaño más grande para la hora */
    font-weight: bold;
    cursor: pointer;
  }
  
  .taskbar-date {
    font-size: 12px; /* Tamaño más pequeño para la fecha */
    color: #ccc; /* Un tono más suave */
  }
  
/*--------------------------Ventanas---------------------- */
.window {
    width: 300px;
    height: 200px;
    min-width: 200px;
    min-height: 150px;
    background-color: var(--color-window-bg);
    position: absolute;
    top: calc(50vh - 100px); /* Centrado sin usar transform */
    left: calc(50vw - 150px);
    border: 2px solid var(--color-border);
    box-shadow: 5px 5px 10px var(--color-shadow);
    z-index: 1000;
    resize: both;
    overflow: hidden;
}


.window-header {
    background-color: var(--color-secondary);
    color: var(--color-text--general);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    user-select: none;
}

.window-header button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-text--general);
    font-weight: bold;
    margin-left: 5px;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: none;
    max-width: 100%;
    max-height: 100%;
}



/*---------------------------USER WINDOWS------------------------------*/
.user-window {
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    height: 400px;
    min-width: 200px;
    min-height: 150px;
    background-color: var(--color-window-bg);
    position: fixed;
    bottom: 50px; /* Justo encima de la taskbar (50px de altura) */
    left: 0px; /* Alineado a la izquierda */
    border: 2px solid var(--color-active-window);
    box-shadow: 5px 5px 10px var(--color-shadow);
    z-index: 1000;
    overflow: hidden;
    transform: translateY(100%); /* Inicia fuera de la pantalla (abajo) */
    animation: slideUp 0.5s ease-in-out 0.1s forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%); /* Comienza fuera de la pantalla (abajo) */
    }
    100% {
        transform: translateY(0); /* Termina en su posición final */
    }
}
